<div class="history">
   
    <mat-accordion class="custom-accordion">
        <!-- cajon preaprobación -->
        <mat-expansion-panel>

            <!-- titulo preaprobación -->
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="title-content">
                        <mat-icon matPrefix fontSet="material-symbols-outlined">task_alt</mat-icon>
                        <div class="text">
                            <div class="main">preaprobación</div>
                            <div class="side">estado</div>
                        </div>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- content preaprobación -->
            <div class="scroller"></div>


        </mat-expansion-panel>

        <!-- cajon resolución final -->
        <mat-expansion-panel>

            <!-- titulo resolución final -->
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="title-content">
                        <mat-icon matPrefix fontSet="material-symbols-outlined">task_alt</mat-icon>
                        <div class="text">
                            <div class="main">resolución final</div>
                            <div class="side">estado</div>
                        </div>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- content resolución final -->
            <div class="scroller"></div>


        </mat-expansion-panel>

        <!-- cajon liquidación -->
        <mat-expansion-panel>

            <!-- titulo liquidación -->
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="title-content">
                        <mat-icon matPrefix fontSet="material-symbols-outlined">task_alt</mat-icon>
                        <div class="text">
                            <div class="main">liquidación</div>
                            <div class="side">estado</div>
                        </div>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- content liquidación -->
            <div class="scroller"></div>


        </mat-expansion-panel>
    </mat-accordion>
</div>