<div class="app-container" [ngClass]="{'side-open' : navOpen}">
  <!-- sidebar -->
  <div class="sidenav">
    <!-- sidebar-toggle -->
    <div class="item" [title]="navOpen ? '' : 'abrir Menú'">
      <button mat-button (click)="toggleNav()">
        <mat-icon fontSet="material-symbols-outlined">{{navOpen ? 'menu_open' : 'menu'}}</mat-icon>
        <div class="link-txt" *ngIf="navOpen">
          <b>Cerrar Menú</b>
        </div>
      </button>
    </div>
    <!-- titulo(sólo menu abierto) - lv0 -->
    <div class="sidenav-title">
      Herramientas
    </div>
    <!-- admision - lv0 -->
    <div class="item" *ngIf="true">
      <button mat-button class="item-header" [title]="navOpen ? '' : 'abrir Admisión'" (click)="toggleSubItems($event)">
        <mat-icon class="close" fontSet="material-symbols-outlined">folder</mat-icon>
        <mat-icon class="open" fontSet="material-symbols-outlined">folder_open</mat-icon>
        <div class="link-txt" *ngIf="navOpen">
          <b>Admisión</b>
        </div>
        <mat-icon class="indicator" fontSet="material-symbols-outlined">{{navOpen ? 'expand_less' :
          'arrow_right'}}</mat-icon>
      </button>
      <div class="item-content">
        <!-- titulo(sólo menu cerrado) - lv1 -->
        <div class="sub-item-title" *ngIf="!navOpen">
          Admisión
        </div>
        <!-- PF - lv1 -->
        <button mat-button class="sub-item" *ngIf="true" [routerLink]="['admision-search']" routerLinkActive="active">
          <mat-icon fontSet="material-symbols-outlined">accessibility</mat-icon>
          <div class="link-txt">
            <b>Personas Físicas</b>
          </div>
        </button>
        <!-- PJ - lv1 -->
        <button mat-button class="sub-item" *ngIf="true">
          <mat-icon fontSet="material-symbols-outlined">balance</mat-icon>
          <div class="link-txt">
            <b>Personas Jurídicas</b>
          </div>
        </button>
      </div>
    </div>

    <!-- reportes - lv0 -->
    <div class="item" *ngIf="true">
      <button mat-button [title]="navOpen ? '' : 'Reportes'">
        <mat-icon fontSet="material-symbols-outlined">finance</mat-icon>
        <div class="link-txt" *ngIf="navOpen">
          <b>Reportes</b>
        </div>
      </button>
    </div>
    <!-- configuración general - lv0 -->
    <div class="item" *ngIf="true">
      <button mat-button [title]="navOpen ? '' : 'Configuración General'">
        <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
        <div class="link-txt" *ngIf="navOpen">
          <b>Configuración General</b>
        </div>
      </button>
    </div>
  </div>
  <!-- main viewport -->
  <div class="main-content">
    <!-- top bar -->
    <div class="toolbar">
      <div class="logo"></div>
      <div class="actions">
        <button mat-icon-button>
          <mat-icon fontSet="material-symbols-outlined">notifications</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="usrMenu">
          <mat-icon fontSet="material-symbols-outlined">account_box</mat-icon>
        </button>
      </div>
    </div>
    <!-- app-render -->
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- usr menu -->
<mat-menu #usrMenu="matMenu">

  <h3> Datos del User</h3>

  <mat-divider></mat-divider>
  <button mat-menu-item [routerLink]="['login']">
    <mat-icon fontSet="material-symbols-outlined">logout</mat-icon>
    <span>Salir del Sistema</span>
  </button>
</mat-menu>
