.app-admision-search {
    height: calc(100vh - 64px);

    .topbar {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px;
        column-gap: 32px;


        .title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 16px;
            width: 50%;

            mat-icon {
                color: $text-primary;
            }

            .text {
                display: flex;
                flex-direction: column;

                * {
                    text-transform: uppercase;
                }

                .main {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                    color: $text-primary;
                }

                .side {
                    line-height: 16px;
                    color: $text-side;
                }
            }
        }


        .search {
            width: 50%;

            mat-form-field {
                width: 100%;
                position: relative;


                .mat-mdc-form-field-flex {
                    background: $lv-0;

                    .mdc-notched-outline * {
                        border-color: $divider !important;
                        border-radius: 0 !important;
                    }
                }

                &:hover {
                    &:before {
                        background: $ripple !important;
                        content: "";
                        position: absolute;
                        pointer-events: none;
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                    }
                }

                &.mat-focused {
                    .mat-mdc-form-field-flex {
                        background: $selected !important;

                        .mat-mdc-form-field-icon-prefix {
                            mat-icon {
                                color: $text-primary !important;
                            }
                        }

                        .mdc-notched-outline * {
                            border-color: $selected !important;
                        }
                    }

                    &:hover {
                        &:before {
                            background: none !important;
                        }
                    }
                }

                .mat-mdc-form-field-subscript-wrapper {
                    display: none;
                }
            }
        }
    }

    //tabeo 
    mat-tab-group {
        height: calc(100% - 80px);
        box-sizing: border-box;
        padding: 0 32px;

        mat-tab-header {
            border-bottom: 1px solid $divider;

            .mat-mdc-tab {
                flex-grow: unset !important;
                border-radius: 0 !important;

                .mdc-tab__text-label {
                    color: $text-side !important;
                }

                &.mdc-tab--active {
                    .mdc-tab__text-label {
                        color: $text-primary !important;

                        button * {
                            color: $text-main !important;

                        }
                    }

                    .mdc-tab-indicator__content {
                        border-color: $primary !important;
                    }
                }
            }
        }

        .mat-mdc-tab-body-wrapper {
            height: calc(100% - 48px);

            mat-tab-body {
                padding-top: 16px;

                .mat-mdc-tab-body-content {
                    padding-bottom: 32px;
                    box-sizing: border-box;
                }
            }
        }
    }

    //acordion
    mat-accordion {
        display: flex;
        flex-direction: column;

        mat-expansion-panel {
            border-radius: 0 !important;
            box-shadow: none !important;
            background: $lv-0;

            .mat-expansion-panel-header {
                padding: 0 16px;

                .title-content {
                    display: flex;
                    column-gap: 16px;
                    align-items: center;

                    mat-icon {
                        color: $text-main;
                        min-width: 40px !important;
                    }

                    .text {
                        display: flex;
                        flex-direction: column;
                        row-gap: 4px;

                        .main {
                            color: $text-main;
                            font-size: 14px;
                            line-height: 1;
                            text-transform: uppercase;
                            font-weight: bold;
                        }

                        .side {
                            color: $text-side;
                            font-size: 11px;
                            line-height: 1;
                            text-transform: uppercase;
                        }


                    }
                }

                &.mat-expanded {
                    height: 56px;
                    border: 1px solid $selected;
                    border-radius: 0 !important;
                    background: $selected;

                    .title-content {
                        mat-icon {
                            color: $text-primary;
                        }

                        .text {
                            .main {
                                color: $text-primary;
                            }
                        }
                    }
                }

                .mat-expansion-indicator {
                    &::after {
                        color: $text-main !important;
                    }
                }
            }

            .mat-expansion-panel-body {
                padding: 0 0 0 56px;

                .custom-table {
                    thead {
                        background: $lv-0;

                        tr {
                            position: relative !important;

                            &::before {
                                content: "";
                                position: absolute;
                                left: -20px;
                                border-left: 2px solid $selected;

                                height: 20px;
                                width: 20px;
                                box-sizing: border-box;
                            }
                        }
                    }

                    tbody {
                        tr {
                            position: relative !important;

                            &:first-of-type {
                                &::before {
                                    top: -20px;
                                    height: 44px;
                                }
                            }

                            &::before {
                                content: "";
                                position: absolute;
                                left: -20px;
                                top: -24px;
                                border-left: 2px solid $selected;
                                border-bottom: 2px solid $selected;
                                height: 48px;
                                width: 20px;
                                box-sizing: border-box;
                            }
                        }
                    }
                }
            }

        }
    }


    //tabla a medida
    .custom-table {
        width: 100%;
        border-spacing: 0;

        thead {
            height: 40px;
            position: sticky;
            top: 0;
            background: $lv-1;

            tr {
                th {
                    text-align: left;
                    height: 40px;
                    padding: 0 16px;
                    border-bottom: 2px solid $selected !important;
                    border-spacing: 0 !important;
                    color: $text-primary;
                    font-size: 10px;
                    text-transform: uppercase;
                    line-height: 1;
                    box-sizing: border-box;
                }
            }
        }

        tbody {
            tr {
                height: 48px;
                cursor: pointer;

                td {
                    text-align: left;
                    height: 48px;
                    padding: 0 16px;
                    font-size: 16px;
                    color: $text-main;
                    line-height: 1;
                }

                &:nth-child(even) {
                    background: $even;
                }

                &:nth-child(odd) {
                    background: $odd;
                }

                &:hover {
                    background: $hover;
                }
            }
        }
    }
}