.app-admision-search {
    height: calc(100vh - 64px);

    .topbar {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px;
        column-gap: 32px;


        .title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 16px;
            width: 50%;

            mat-icon {
                color: $text-primary;
            }

            .text {
                display: flex;
                flex-direction: column;

                * {
                    text-transform: uppercase;
                }

                .main {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                    color: $text-primary;
                }

                .side {
                    line-height: 16px;
                    color: $text-side;
                }
            }
        }


        .search {
            width: 50%;

            mat-form-field {
                width: 100%;
                position: relative;


                .mat-mdc-form-field-flex {
                    background: $lv-0;

                    .mdc-notched-outline * {
                        border-color: $divider !important;
                        border-radius: 0 !important;
                    }
                }

                &:hover {
                    &:before {
                        background: $ripple !important;
                        content: "";
                        position: absolute;
                        pointer-events: none;
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                    }
                }

                &.mat-focused {
                    .mat-mdc-form-field-flex {
                        background: $selected !important;

                        .mat-mdc-form-field-icon-prefix {
                            mat-icon {
                                color: $text-primary !important;
                            }
                        }

                        .mdc-notched-outline * {
                            border-color: $selected !important;
                        }
                    }

                    &:hover {
                        &:before {
                            background: none !important;
                        }
                    }
                }

                .mat-mdc-form-field-subscript-wrapper {
                    display: none;
                }
            }
        }
    }
}

