@import './assets/styles/main-theme';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $main_font;
  overflow: hidden;

}


[data-theme='light'] {
  @import './assets/styles/theme-light';
  @import './assets/styles/app';
  @import './app/login/login';
  @import './app/home/home';
  @import './app/main-frame/mainFrame';
  @import './app/admision-search/admisionSearch';

  #lightThemeBtn {
    display: none;
  }

}

[data-theme='dark'] {
  @import './assets/styles/theme-dark';
  @import './assets/styles/app';
  @import './app/login/login';
  @import './app/home/home';
  @import './app/main-frame/mainFrame';
  @import './app/admision-search/admisionSearch';

  #darkThemeBtn {
    display: none;
  }
}
