//general
app-root {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: $lv-0;
  color: $text-main;
}

////////////
//overrides
////////////

//buttons
button {
  &:not(.mat-mdc-icon-button) {
    border-radius: 0 !important;
  }

  &.mat-mdc-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

//inputs
mat-form-field {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: $lv-1;
  }

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: $text-main;

    &::placeholder {
      color: $text-side !important;
    }
  }

  * {
    color: $text-main;
  }

  &.mat-form-field-invalid {
    * {
      color: $text-warn;
    }
  }

  .mdc-text-field--filled {
    .mdc-line-ripple {
      &::before {
        border-bottom-color: $divider !important;
      }

      &::after {
        border-bottom-color: $primary;
      }
    }
  }
}

//icons
mat-icon {
  font-size: 24px !important;
  margin: 0 !important;
  width: 32px !important;
  height: 32px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

//menu
.mdc-menu-surface {
  background: $lv-0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border: 1px solid $divider;
  padding: 16px !important;

  h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 12px !important;
  }

  mat-divider {
    background: $divider !important;
    margin-bottom: 16px;
  }

  * {
    color: $text-main;
  }

  .mat-mdc-menu-content {
    padding: 0;
  }
}

//tabeo a medida 
.custom-tab-group {
  height: calc(100% - 80px);
  box-sizing: border-box;
  padding: 0 32px;

  mat-tab-header {
    border-bottom: 1px solid $divider;

    .mat-mdc-tab {
      flex-grow: unset !important;
      border-radius: 0 !important;

      .mdc-tab__text-label {
        color: $text-side !important;
      }

      &.mdc-tab--active {
        .mdc-tab__text-label {
          color: $text-primary !important;

          button * {
            color: $text-main !important;

          }
        }

        .mdc-tab-indicator__content {
          border-color: $primary !important;
        }
      }
    }
  }

  .mat-mdc-tab-body-wrapper {
    height: calc(100% - 48px);

    mat-tab-body {
      padding-top: 16px;

      .mat-mdc-tab-body-content {
        padding-bottom: 32px;
        box-sizing: border-box;
      }
    }
  }
}

//acordion a medida
.custom-accordion {
  display: flex;
  flex-direction: column;

  mat-expansion-panel {
    border-radius: 0 !important;
    box-shadow: none !important;
    background: $lv-0;

    .mat-expansion-panel-header {
      padding: 0 16px;

      .title-content {
        display: flex;
        column-gap: 16px;
        align-items: center;

        mat-icon {
          color: $text-main;
          min-width: 40px !important;
        }

        .text {
          display: flex;
          flex-direction: column;
          row-gap: 4px;

          .main {
            color: $text-main;
            font-size: 14px;
            line-height: 1;
            text-transform: uppercase;
            font-weight: bold;
          }

          .side {
            color: $text-side;
            font-size: 11px;
            line-height: 1;
            text-transform: uppercase;
          }


        }
      }

      &.mat-expanded {
        height: 56px;
        border: 1px solid $selected;
        border-radius: 0 !important;
        background: $selected;

        .title-content {
          mat-icon {
            color: $text-primary;
          }

          .text {
            .main {
              color: $text-primary;
            }
          }
        }
      }

      .mat-expansion-indicator {
        &::after {
          color: $text-main !important;
        }
      }
    }

    .mat-expansion-panel-body {
      padding: 0 0 0 56px;

      .custom-table {
        thead {
          background: $lv-0;

          tr {
            position: relative !important;

            &::before {
              content: "";
              position: absolute;
              left: -20px;
              border-left: 2px solid $selected;

              height: 20px;
              width: 20px;
              box-sizing: border-box;
            }
          }
        }

        tbody {
          tr {
            position: relative !important;

            &:first-of-type {
              &::before {
                top: -20px;
                height: 44px;
              }
            }

            &::before {
              content: "";
              position: absolute;
              left: -20px;
              top: -24px;
              border-left: 2px solid $selected;
              border-bottom: 2px solid $selected;
              height: 48px;
              width: 20px;
              box-sizing: border-box;
            }
          }
        }
      }
    }

  }
}

//tabla a medida
.custom-table {
  width: 100%;
  border-spacing: 0;
  background: unset !important;

  thead {
    height: 40px;
    position: sticky;
    top: 0;
    background: $lv-1;

    tr {
      th {
        text-align: left;
        height: 40px;
        padding: 0 16px;
        border-bottom: 2px solid $selected !important;
        border-spacing: 0 !important;
        color: $text-primary;
        font-size: 10px;
        text-transform: uppercase;
        line-height: 1;
        box-sizing: border-box;
      }
    }
  }

  tbody {
    tr {
      height: 48px;
      cursor: pointer;

      td {
        text-align: left;
        height: 48px;
        padding: 0 16px;
        font-size: 16px;
        color: $text-main;
        line-height: 1;
      }

      &:nth-child(even) {
        background: $even;
      }

      &:nth-child(odd) {
        background: $odd;
      }

      &:hover {
        background: $hover;
      }
    }
  }
}

//boton seleccion de tema
.theme-selector {
  position: fixed;
  bottom: 0;
  display: flex;
  column-gap: 1vw;
  padding: 1vw;
  z-index: 11;

  button {
    background: none;
    border: 0;
    height: 36px;
    font-size: 14px;
    line-height: 18px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    color: $text-main;
    cursor: pointer;
    background: $divider;
    font-family: $main_font;
    font-weight: 500 !important;
    transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background: $hover;
    }

    i {
      font-style: unset !important;
      line-height: 18px;
      font-size: 18px;
      margin-left: 8px;
    }
  }
}