//colors
$primary: #003A58;
$accent: #66E4EE;
$links: #008AAD;

//enviroment
$lv-0: #353535;
$lv-1: #2c2c2c;
$lv-2: #121212;
$divider: rgba(255, 255, 255, .12);
$hover: rgba(255, 255, 255, .22);


//text-color
$text-primary: #003A58;
$text-accent: #66E4EE;
$text-main:#fff;
$text-side:#ddd;
$text-disabled:#bbb;
