//colors
$primary: #003A58;
$accent: #66E4EE;
$links: #008AAD;

//enviroment
$lv-0: #000;
$lv-1: #F9F9F9;
$lv-2: #D9D9D9;
$divider: rgba(255, 255, 255, .12);
$hover: rgba(255, 255, 255, .22);


//text-color
$text-primary: #003A58;
$text-accent: #66E4EE;
$text-main:#fff;
$text-side:#ddd;
$text-disabled:#bbb;
